
:root {

    --color-p : cyan;
    --color-s : #EFF8E2;
    --color-a : black;
}

.bg-color-p {

    background-color: var(--color-p);
}

.bg-color-s {
    
    background-color: var(--color-s);
}

.bg-color-a {
    
    background-color: var(--color-a);
}

.color-p {

    color: var(--color-p);
}

.color-s {
    
    color: var(--color-s) !important;
}

.color-a {
    
    color: var(--color-a);
}

*{
    font-family: "Poppins", serif;
    
}

.title {

  font-family: "Playfair Display", serif;
}

.subtitle {

  font-family: "Montserrat", serif;
}

.text {

    font-family: "Poppins", serif;
}

body {

  margin: 0;
  padding: 0;
  background: url(./media/body.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden; /* Nasconde il contenuto che eccede a destra */

  position: relative
}

body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1; 
  }

.text-color-p-shadow {

    text-shadow: 2px 2px 3px var(--color-p) !important; 
}

.text-color-s-shadow {

    text-shadow: 2px 2px 3px var(--color-s); 
}

.text-color-a-shadow {

    text-shadow: 2px 2px 3px var(--color-a); 
}

.transition {

    transition: .5s;
}

h1 {

    font-family: "Playfair Display", serif;
  }
  
h2 {
  
    font-family: "Montserrat", serif;
  }

.btn-outline-p {
    
        padding: 10px 20px; /* Distanza interna */
        font-size: 16px; /* Dimensione del testo */
        font-weight: 600; /* Grassetto */
        text-align: center; /* Allineamento del testo */
        border: 2px solid var(--color-p); /* Usa la variabile per il bordo */
        color: var(--color-p); /* Usa la variabile per il colore del testo */
        background-color: transparent; /* Sfondo trasparente */
        border-radius: 4px; /* Bordo arrotondato */
        transition: all 0.3s ease; /* Transizione per effetto hover */
        cursor: pointer; /* Aggiunge il cursore a mano */
    }
    
   
    .btn-outline-p:hover {
        background-color: var(--color-p);
        color: var(--color-a);
        text-shadow: 2px 2px 3px var(--color-a);
        border-color: var(--color-p); 
    }

    a{
        text-decoration: none;
        color: var(--color-s);
    }



/* NAVBAR */

.linkNavbar {

    color: var(--color-s);
}

.navbar-toggler{

    border: none;
}

.navbar {
   
    margin: 0vh 10vw;
    border: 3px solid var(--color-p);
    /* background-color: rgba(255,0,0,0.5); */
    border-radius: 50px;
    

}


.navbarScroll {
    margin: 0vh 25vw;
    backdrop-filter: blur(8px);
    border: 3px solid var(--color-p);
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 50px;
   
}


/* HEADER */

.paragrafoHeader {

    position: relative;

}

.paragrafoHeader::after {

    content: "❝";
    position: absolute;
    top: -50px;
    left: -30px;
    font-size: 60px;
    color: var(--color-p);
    
}

.paragrafoHeader::before {

    content: "❞";
    position: absolute;
    bottom: -45px;
    right: -10px;
    font-size: 60px;
    color: var(--color-p);
    
}

.imgHeader {
    width: 1000px;
}

/* SEZIONE CATEGORIE */

.box-categorie{

    
  
    background-image: url(/media/categorie.png);
    aspect-ratio: 1;   /*Serve per impostare l altezza uguale alla larghezza. E' dinamico */
    border-radius: 50%;
    margin: 5vh 2vw;
    
}



/* SEZIONE I NOSTRI NUMERI */

.box-numeri {
    color: var(--color-s);
}



/* SEZIONE CARDS */

.card{

    border: cyan 5px solid;
}


/* MEDIA QUERY PER SMARTPHONE */
@media (max-width: 767px) {

    *{
        margin: 0;
        padding: 0;
    }
   
    /* .navbar {
   
        margin: 0px 50px;
        width: 80%;
    
    }
    
    .navbarScroll {
        margin: 0px 80px;
       width: 80%;
    
    } */

    .imgHeader{
        width: 300px;
    }
    .paragrafoHeader::before {

        content: "❞";
        position: absolute;
        bottom: -45px;
        right: -30px;
        font-size: 60px;
        color: var(--color-p);
        
    }
}
