
:root {

    --color-p : black;
    --color-s : #EFF8E2;
    --color-a : red;
}

.bg-color-p {

    background-color: var(--color-p);
}

.bg-color-s {
    
    background-color: var(--color-s);
}

.bg-color-a {
    
    background-color: var(--color-a);
}

.color-p {

    color: var(--color-p);
}

.color-s {
    
    color: var(--color-s) !important;
}

.color-a {
    
    color: var(--color-a);
}

*{
    font-family: "Poppins", serif;
    
}

.title {

  font-family: "Playfair Display", serif;
}

.subtitle {

  font-family: "Montserrat", serif;
}

.text {

    font-family: "Poppins", serif;
}

body {

  margin: 0;
  padding: 0;
  background: url(./media/body.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;

  position: relative
}

body::before {
    content: '';
    position: absolute;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); /* Velo nero con opacità al 50% */
    z-index: -1; /* Assicurati che il velo stia sotto il contenuto del body */
  }

.text-color-p-shadow {

    text-shadow: 2px 2px 3px var(--color-p); 
}

.text-color-s-shadow {

    text-shadow: 2px 2px 3px var(--color-s); 
}

.text-color-a-shadow {

    text-shadow: 2px 2px 3px var(--color-a); 
}

.transition {

    transition: .5s;
}

h1 {

    font-family: "Playfair Display", serif;
  }
  
h2 {
  
    font-family: "Montserrat", serif;
  }

  .margine{


  }


/* NAVBAR */

.linkNavbar {

    color: var(--color-s);
}

.navbar-toggler{

    border: none;
}

.navbar {
   
    margin: 0vh 10vw;
    border: 3px solid var(--color-s);
    background-color: rgba(255,0,0,0.5);
    border-radius: 50px;

}


.navbarScroll {
    margin: 0vh 25vw;
    backdrop-filter: blur(5px);
    border: 3px solid white;
    background-color:rgba(255, 0, 0, 0.5);
    border-radius: 50px;

}


/* HEADER */


/* SEZIONE CATEGORIE */

.box-categorie{

    background: linear-gradient(to  right bottom, var(--color-s) 50%, var(--color-a) 60%);
    border-top: 2px solid var(--color-s);
    border-bottom: 2px solid var(--color-a);
    border-right: 2px  var(--color-a);
    border-left: 2px solid var(--color-s);
    aspect-ratio: 1;    /* Serve per impostare l altezza uguale alla larghezza. E' dinamico */
    border-radius: 50%;
    margin: 7vh 2vw;
}



/* SEZIONE I NOSTRI NUMERI */

.box-numeri {
    color: var(--color-s);
}



/* SEZIONE CARDS */

.card{

    background-color: rgba(255,0,0,0.5);
}